{% extends "qna/base.html" %}
{% block title %}<title>{{category.category}} Questions | Q&amp;A</title>{% endblock title %}
{% block head %}
<style>
    .card-answer-body {
        max-height: 240px;
    }
</style>
<script>
    $(document).ready(function () {
        $('button').click(function (event) {
            event.preventDefault();
        });
        {% if user.is_authenticated %}
        $(".question-upvote").click(function (event) {
            event.preventDefault();
            $questionvotemanager = $(this).siblings('span')[0];
            $virtualvote = +($($questionvotemanager).text());
            $vote = $($questionvotemanager).data("question-vote");
            $questionid = $($questionvotemanager).data("question-id");
            $downvotebtn = $(this).next();
            $current = this;
            if ($virtualvote == $vote) {
                $votescore = 1;
                $totalvote = $virtualvote + $votescore;
                $.ajax({
                    type: "POST",
                    url: '{% url 'question-questionvotelistmanager'  %}',
                    data: { 'totalvote': $totalvote, 'questionid': $questionid },
                    dataType: 'json',
                    success: function (data) {
                        if (data.voted) {
                            $($questionvotemanager).text($totalvote);
                            $($questionvotemanager).addClass("bg-warning");
                            $($current).attr("disabled", true);
                            $($downvotebtn).attr("disabled", false);
                            $($questionvotemanager).removeClass("bg-danger");
                        }
                        else if (data.error) {
                            alert(data.error);
                        }
                    }
                        });
    }
            else if ($virtualvote > $vote) {
        alert("Already voted");
    }
    else {
        $votescore = 2;
        $totalvote = $virtualvote + $votescore;
        $.ajax({
            type: "POST",
            url: '{% url 'question-questionvotelistmanager' %}',
            data: { 'totalvote': $totalvote, 'questionid': $questionid },
            dataType: 'json',
            success: function (data) {
                if (data.voted) {
                    $($questionvotemanager).text($totalvote);
                    $($questionvotemanager).addClass("bg-warning");
                    $($current).attr("disabled", true);
                    $($downvotebtn).attr("disabled", false);
                    $($questionvotemanager).removeClass("bg-danger");
                }
                else if (data.error) {
                    alert(data.error);
                }
            }
                });
            }
        });
    $(".question-downvote").click(function (event) {
        event.preventDefault();
        $questionvotemanager = $(this).siblings('span')[0];
        $virtualvote = +($($questionvotemanager).text());
        $vote = $($questionvotemanager).data("question-vote");
        $questionid = $($questionvotemanager).data("question-id");
        $upvotebtn = $(this).prev();
        $current = this;
        if ($virtualvote == $vote) {
            $votescore = -1;
            $totalvote = $virtualvote + $votescore
            $.ajax({
                type: "POST",
                url: '{% url 'question-questionvotelistmanager' %}',
                data: { 'totalvote': $totalvote, 'questionid': $questionid },
                dataType: 'json',
                success: function (data) {
                    if (data.voted) {
                        $($questionvotemanager).text($totalvote);
                        $($questionvotemanager).addClass("bg-danger");
                        $($current).attr("disabled", true);
                        $($upvotebtn).attr("disabled", false);
                        $($questionvotemanager).removeClass("bg-warning");
                    }
                    else if (data.error) {
                        alert(data.error);
                    }
                }
                        });
                    }
            else if ($virtualvote < $vote) {
        alert("Already voted");
    }
    else {
        $votescore = -2;
        $totalvote = $virtualvote + $votescore
        $.ajax({
            type: "POST",
            url: '{% url 'question-questionvotelistmanager' %}',
            data: { 'totalvote': $totalvote, 'questionid': $questionid },
            dataType: 'json',
            success: function (data) {
                if (data.voted) {
                    $($questionvotemanager).text($totalvote);
                    $($current).attr("disabled", true);
                    $($upvotebtn).attr("disabled", false);
                    $($questionvotemanager).addClass("bg-danger");
                    $($questionvotemanager).removeClass("bg-warning");
                }
                else if (data.error) {
                    alert(data.error);
                }
            }
                });
            }
        });

    $(".categorymanager").click(function (event) {
        event.preventDefault();
        $categoryslug = $(this).data("slug");
        $current = this;
        $.ajax({
            type: "POST",
            url: '{% url 'question-categorymanager' %}',
            data: { 'categoryslug': $categoryslug },
            dataType: 'json',
            success: function (data) {
                if (data.added) {
                    $($current).children().removeClass("fa fa-plus");
                    $($current).children().addClass("far fa-trash-alt");
                    alert("Category Added");
                }
                else if (data.deleted) {
                    $($current).children().addClass("fa fa-plus");
                    $($current).children().removeClass("far fa-trash-alt");

                    alert("Category Removed");
                }
                else {
                    alert("Something went wrong");
                }
            }
                        });
        });
    $(".rolemanager").click(function (event) {
        event.preventDefault();
        $categoryslug = $(this).data("slug");
        $current = this;
        $.ajax({
            type: "POST",
            url: '{% url 'question-rolemanager' %}',
            data: { 'categoryslug': $categoryslug },
            dataType: 'json',
            success: function (data) {
                if (data.added) {
                    $($current).remove();
                    alert("Congrats you got this role.");
                }
                else if (data.insufficient) {
                    alert("Sorry You can't get this time.Try again after few days.");
                }
                else {
                    alert("Something went wrong");
                }
            }
                        });
        });
    {% else %}

    $(".question-upvote").click(function (event) {alert("Please login to perform this.")})
    $(".question-downvote").click(function (event) {alert("Please login to perform this.")})
    $(".categorymanager").click(function (event) {alert("Please login to perform this.")})
    $(".rolemanager").click(function (event) {alert("Please login to perform this.")})
    {% endif %}
    });
</script>
{% endblock head %}
{% block content %}
<h1><b>{{category.category}} {% if isCategoryin %}<button class="btn btn-primary categorymanager"
            data-slug="{{category.slug}}"><i
                class="far fa-trash-alt"></i></button>{% elif not user.is_authenticated %}{% else %}<button
            class="btn btn-primary categorymanager" data-slug="{{category.slug}}"><i class="fa fa-plus"
                aria-hidden="true"></i></button>{% endif %}{% if not hasRole %}<button
            class="btn btn-outline-warning ml-1 rolemanager" data-slug="{{category.slug}}">Claim
            Role</button>{% endif %}</b></h1>
{% if questions %}
{% for question in questions %}
<div class="card mt-2">
    <div class="card-body ml-3">
        <div class="card-title"><a href="{% url 'question' question.id %}" class="h4">{{question.question}}</a></div>
        <div class="card-subtitle mb-2 text-muted">
            {% for category in question.category.all %}
            <li class="list-inline-item badge badge-primary badge-pills">{{category}}</li>
            {% endfor %}
            {% if question.status == 'f' %}<i class="far fa-flag"></i>{% endif %}
            {% if  question.status == 'o' %}<i class="far fa-flag"></i> <i class="far fa-pause-circle"></i>{% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<h4>No result found</h4>
{% endif %}
{% endblock content %}
