{% extends "qna/base.html" %}
{% load static %}
{% block title %}<title>Delete {{question.question}} | Q&amp;A</title>{% endblock title %}
{% block content %}
<form action="" method="post" class="mg-center">
    {% csrf_token %}
    <div class="text-muted display-4">Are you sure you want to delete</div>
    <div class="display-4">{{question.question}}</div>
    <input type="submit" name="yes" value="Yes" class="btn mt-4 px-5 btn-danger">
    <input type="submit" name="no" value="No" class="btn mt-4 px-5 btn-light">
</form>
{% endblock content %}
