{% extends "qna/base.html" %}
{% load static %}
{% block title %}<title>Edit question | Q&amp;A</title>{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static "qna/chosen/chosen.css" %}">
<script src="{% static "qna/chosen/chosen.jquery.min.js" %}"></script>
{% endblock head %}
{% block content %}

<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight">
                <img src="{% static 'qna/images/logo.png' %}" height="200" width="200" alt=""><br />
              <span class="text-primary">Edit Question</span>
            </h1>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form action="" method="post" class="mg-center">
                    <h1>Edit question</h1>
                    {% csrf_token %}

                  <div class="form-outline mb-4">
                    <label for="question" class="label">Question</label>
                    <input type="text" name="question" class="form-control" id="question" value="{{question.question}}"
                        aria-describedby="questionHelp" placeholder="Enter question" required maxlength="100">
                    <small id="questionHelp" class="help_text">Don't add single word questions</small>
                    </div>
  

                  <div class="form-group">
                    <label for="category" class="label">Category</label>
                    <select name="category" multiple class="chzn-select form-control">
                        <option value=""></option>
                        {% for category in categories %}
                        <option value="{{category}}">{{category}}</option>
                        {% endfor %}
                    </select>
                    <small id="categoryHelp" class="help_text">Keep max 100 character longer</small>
                </div>
                <script>
                    $(".chzn-select").chosen({
                        disable_search_threshold: 1000,
                        no_results_text: "Oops, no category found!",
                        max_selected_options: 4,
                        placeholder_text_multiple: "Choose categories...",
                        search_contains: true
                    });
                </script>
                {% if error %}
                <div class="text-warning">{{error}}</div>
                {% endif %}
                  <button type="submit" class="btn btn-primary btn-block mb-4">
                    Edit Question
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
{% endblock content %}
